/*COLORS
#4A8646 = Dark green headings 
#F0FAEF = Light green background
#F5F5F5 = Off white background
#9BE89B = Medium green (Scroll to top button)
*/

html {
    scroll-behavior:smooth;
}

section {
    padding:50px 0px 50px 0px;
}

/*------------------------------------------Fonts*/
body {
  font-family: "Chilanka", cursive;
}

/*------------------------------------------NavBar*/
.navbar {
    background-color: #F0FAEF;
}

.nav-item {
  font-size: 20px;
  padding: 5px 20px;
  font-weight: 900;
}

/*------------------------------------------Header image and logo*/
#background {
  width: 100%;
  height: 600px;
  opacity: 0.3;
  position: relative;
  
}

#logo {
    padding-bottom:60px;
}

/*------------------------------------------Header image and logo - Media Queries*/
@media only screen and (min-width: 100px) {
  #logo {
    position: absolute;
    width: 90%;
    height: 500px;
    top: 120px;
    left: 20px;
    bottom: 20px;
    right: 20px;
  }
}

@media only screen and (min-width: 992px) {
  #logo {
    position: absolute;
    width: 30vw;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

/*------------------------------------------About Us Section*/
h2 {
    color: #4A8646;
    text-align:center;
    padding:20px;
    
}

#about-us {
    background:#F0FAEF;
    
}

.about-image {
    
    width:30vw;
    height:40vh;
    padding:30px;
    opacity:0.6;
    
}

.about-paragraph {
    padding-top:50px;
}

/*------------------------------------------Locations Section*/
#locations {
    background:#F0FAEF;
}
#map {
    height:600px;
    width:60%;
    margin:auto;
}

/*------------------------------------------Book Table Section*/
form {
    margin:auto;
    width:80%;
    padding:20px;
}

/*------------------------------------------Footer*/
footer {
    background: #4A8646;
    color: #F5F5F5;
    padding-top:20px;
}

a {
  color:inherit;
}

#social-media {
    font-size:30px;
}

/*------------------------------------------Scroll to top button*/
#scrollBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #9BE89B;
  color: #F5F5F5; 
  padding: 10px;
  border-radius: 10px; 
  font-size: 30px; 
}

/*------------------------------------------Menu*/
#menu {
    background: #F5F5F5;
}

.tabs-container {
    width:90%;
    margin:auto;
    padding-bottom:20px;
}

.tabHeader {
    border:none;
    outline:none;
    background: transparent;
    /*color:#eee;*/
    padding: 6px 12px;
    
}

.active-tab {
    border: 1px solid #333 !important;
    border-bottom: none !important;
}

.tabSection {
    border: 1px solid #000000;
    padding: 15px;
}

.hide-tab {
    display:none;
}

.show-tab {
    display: block;
}

.menu-price {
    float:right;
}