/*------------------------------------------Fonts*/

body {
  font-family: "Chilanka", cursive;
}

/*------------------------------------------NavBar*/
.nav-item {
  font-size: 20px;
  padding: 5px 20px;
  font-weight: 900;
}

/*------------------------------------------Header image and logo*/

#background {
  width: 100%;
  height: 600px;
  opacity: 0.3;
  position: relative;
  
}



@media only screen and (min-width: 100px) {
  #logo {
    position: absolute;
    width: 90%;
    height: 500px;
    top: 120px;
    left: 20px;
    bottom: 20px;
    right: 20px;
  }
}

@media only screen and (min-width: 992px) {
  #logo {
    position: absolute;
    width: 30vw;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

/*------------------------------------------About Us Section*/
h2 {
    color: #4A8646;
    text-align:center;
    padding:20px;
    
}

#about-us {
    background:#F0FAEF;
    padding:20px;
}


.about-image {
    
    width:30vw;
    height:40vh;
    padding:30px;
    opacity:0.6;
    
}

.about-paragraph {
    padding-top:50px;
}

/*------------------------------------------Menu Section*/
#map {
    height:600px;
    width:600px;
}